.filesContainer {
  background-color: red;
  width: 250px;
  height: 80vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: hsl(var(--bc));
  font-size: large;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filesContainer::-webkit-scrollbar {
  display: none;
}

.fileItem {
  position: relative;
  width: 80%;
  color: hsl(var(--pc));
  background-color: hsl(var(--b1));
  margin: 8px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.fileIcon {
  position: relative;
  width: 20px;
  height: 20px;
}

.deleteIconContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-icon {
  position: relative;
  width: 28px;
  height: 28px;
}
